.review-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(245, 235, 218, 0.411);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.paper {
  background-image: linear-gradient( 109.6deg,  rgba(36,45,57,1) 11.2%, rgba(16,37,60,1) 51.2%, rgba(0,0,0,1) 98.6% );
  max-width: 300px;
  min-height: 120px;
}
