
.nav-bg-active{
     background: transparent;
     height: 80px;
}
.nav-bg{
    background-color: rgba(206, 160, 115, 0.671);
    
    /* background-color: rgba(8, 8, 8, 0.288); */
}
.nav-text-color{
    color: rgb(245, 242, 237);
    
}
.nav-text-color:hover{
    color: rgb(255, 8, 0);
}
.logout-button{
    cursor: pointer;
}