
.nav-bg-active{
     background: transparent;
     height: 80px;
     color: black;
}
.nav-bg{
    background-color: rgba(247, 244, 241, 0.993);
    color: red;
    /* background-color: rgba(8, 8, 8, 0.288); */
}
.nav-text-color{
    color: rgb(245, 242, 237);
    
}
.nav-text-color:hover{
    color: rgb(255, 8, 0);
}
.logout-button{
    cursor: pointer;
}