.feature-1{
    background-image: url(../../../Images/intro_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   width: 300px;
    height: 180px;
}
.feature-2{
    background-image: url(../../../Images/intro_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   width: 300px;
    height: 180px;
}
.feature-3{
    background-image: url(../../../Images/intro_3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
}
.feature-4{
    background-image: url(../../../Images/intro_4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
}

.feature-button{
    border: 0px;
    font-weight: 600;
}
.feature-button:hover{
    color: orange;
}