.card-container{
  box-sizing: border-box;
    position: relative;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px , rgba(0, 0, 0, 0.3) 0px 18px 36px -18px ;
    transition-duration: 0.9s;
}
.card-container:hover{
  
  box-shadow: rgba(175, 130, 7, 0.4) 2px 2px, rgba(179, 119, 9, 0.3) 10px 10px, rgba(138, 84, 4, 0.2) 5px 5px, rgba(192, 134, 8, 0.1) 5px 5px, rgba(240, 204, 46, 0.05) 5px 5px;
  border: 1px solid goldenrod;
}
.card-img-text{
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgb(247, 162, 4);
  padding: 2px 5px 2px 5px;
  font-size: 18px;
  
  color: rgb(20, 19, 19);
  border-radius: 5px;
}
.discount-text{
  position: absolute;
  top: 35px;
  right: 16px;
  color: rgb(250, 11, 3);
  padding: 2px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
}
.card-title{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;

}
.card-title:hover{
  color: #865019;

}