.card-container{
    position: relative;
    
}
.card-img-text{
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgb(134, 247, 4);
  padding: 2px 5px 2px 5px;
  font-size: 18px;
  
  color: rgb(20, 19, 19);
  border-radius: 5px;
}
.discount-text{
  position: absolute;
  top: 35px;
  right: 16px;
  color: rgb(250, 11, 3);
  padding: 2px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
}