.card-container{
    width: 380px;
    height: 400px;
}
.card-img{
  height: 250px;
  transition: ease-in .5s;
}
.card-img:hover{
  transform: scale(1.1);
}
.card-img-text{
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgba(32, 247, 4, 0.575);
  padding: 2px 5px 2px 5px;
  font-size: 18px;
  color: rgb(20, 19, 19);
  border-radius: 5px;
}

/* CSS */
.card-btn {
  padding: 2px 7px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  transition: .4s;
}
.card-btn:hover{
  transform: scale(1.1);
  background-color: rgb(134, 80, 25);
}

.discount-text{
  position: absolute;
  top: 35px;
  right: 16px;
  color: rgb(250, 11, 3);
  padding: 2px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
}
.description{
  color: rgba(0, 0, 0, 0.623);
}