.parking{
    background-color: rgb(252, 246, 240);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 0%;
    padding-right: 0px;
}
.parking-paper{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 150px;
    width: 200px;
    margin: 20px;
    color: rgb(134, 80, 25);
    border-radius: 15px;
    transition-duration: 0.5s;
}

.parking-paper h1{
    font-size: 60px;
}
.parking-paper p{
    font-size: 20px;
    font-weight: bold;
}
.parking-paper:hover{
    box-shadow: rgba(175, 130, 7, 0.4) 5px 5px, rgba(179, 119, 9, 0.3) 10px 10px, rgba(138, 84, 4, 0.2) 15px 15px, rgba(192, 134, 8, 0.1) 20px 20px, rgba(240, 204, 46, 0.05) 25px 25px;
}
