.dashboard-sidebar{
    height: 100vh;
    background-color: rgb(71, 60, 252);
}
.header{
    margin-top: 10px;
    color: whitesmoke;
    font-weight: bolder;
}
.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.active{
    color: black;
    text-decoration: underline;
    border-radius: 5px 30px 5px 30px;
}
.navlink{

}
.navlink:hover{
    background-color: rgba(0, 0, 0, 0.493);
}